* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3e2723;
  font-family: "Noto Sans SC", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  gap: 2em;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: column;
}
.chat .buttons button {
  margin: 10px;
}
.chat .chatBox {
  background-color: #d7ccc8;
  width: 700px;
  height: 400px;
  border: 1px solid black;
  overflow: auto;
  padding: 1em;
  margin-bottom: 20px;
  border-radius: 20px;
}
.chatBox .responseMessage {
  border-radius: 20px;
  background-color: #5d4037;
  padding: 1em;
  color: white;
  max-width: 70%;
  width: fit-content;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
}
.chatBox .userMessage {
  border-radius: 20px;
  background-color: #a47263;
  padding: 1em;
  color: white;
  max-width: 70%;
  width: fit-content;
  margin-bottom: 1em;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
}

.chat .inputBox {
  background-color: #d7ccc8;
  width: 700px;
  height: 100px;
  padding: 10px;
  border: 1px solid black;
  overflow: auto;
  border-radius: 20px;
}
.restructureBox {
  width: 400px;
  height: 300px;
  padding: 10px;
  border: 1px solid black;
  overflow: auto;
  border-radius: 20px;
  background-color: #d7ccc8;
  margin: 20px;
}
button {
  background-color: #d7ccc8;
  font-family: "Noto Sans SC", sans-serif;
}
.my-button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  position: relative;
  min-height: 50vh;
}
